.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11.5rem;
  color: #1b2944;
}

.hero-section h2 {
  color: #1244a8;
  font-size: 3.5rem;
  margin: 0rem;
}

.hero-section p {
  color: #ffffffb4;
  font-size: 1.5rem;
  margin: 1rem 0rem 1.5rem;
}

.hero-section button {
  background-color: #1244a8;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}

.hero-section button:hover {
  background-color: #1153d6;
  cursor: pointer;
}
