.cart-card-section {
  display: flex;
  align-items: center;
  width: 40rem;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #234791;
}

.cart-card-section img {
  width: calc(35% - 1rem);
  aspect-ratio: 1;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
