.product-card-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1a2946;
}

.product-card-section img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  background-color: #234791;
}

.product-card-section p {
  margin: 0rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
